@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

main:root{
    --primary-color: #642CA9 ;
    --primary-color-opacity: #4d564755;
    --secondary-color: #EC0868 ;
    --background-color: #fafafa;
    --accent-1 :#FFB8DE ;
    --accent-2 : #03B5AA ;
    --heading-font: "Libre Baskerville", Arial, sans-serif;
    --paragraph-font: "Open Sans", Arial, sans-serif;
    background-color: var(--background-color);
    font-family: var(--paragraph-font);
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
}    

body {
    background-color: var(--accent-1);
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    line-height: 1.6;
  }

  header {
    background-color: var(--primary-color-opacity);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
   
  }

  .logo {
    width: 80px;
    height: auto;
    border-radius: 50%;
  }
  
  nav {
    display: flex;
    gap: 25px;
  }
  
  nav a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  nav a:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
  }
  


  footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}